body {
    background-color:#cfb7b3;
}
.list {
    padding: 50px;
    border: 2px dotted rgb(87, 85, 85);
    margin: 40px 120px 40px 120px;
    background-color: white;
}
.name {
    font-family: cursive;
}
img {
    border-radius: 30px 30px 30px 30px;
}
.profile {
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.code {
    background-color: rgb(159, 148, 148);
    width: 400px;
    height: 200px;
}